.container {
  padding: 20px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar {
      //margin-right: 10px;
    }

    .title {
      font-size: 16px;
      letter-spacing: 4px;
      font-weight: 800;
      font-family: "微软雅黑 Light", sans-serif;
    }
  }

  .desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 12px;
    letter-spacing: 3px;
    color: #999999;
    font-family: "微软雅黑 Light", sans-serif;
    margin-bottom: 20px;
  }

  .login-form-password-actions{
    display: flex;
    justify-content: space-between;
  }
}
.header {
  -webkit-app-region: drag; // ✅ 可拖动区域
  user-select: none;
}
.formWrapper {
  -webkit-app-region: no-drag; // 🚫 防止输入框干扰拖动
  margin-top: 16px;
}

.loading-panel {
  height: calc(100vh - 32px);
  display: flex;
  justify-self: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100px;
  }
}