@font-face {
  font-family: "iconfont"; /* Project id 4915189 */
  src: url('iconfont.woff2?t=1749108770337') format('woff2'),
       url('iconfont.woff?t=1749108770337') format('woff'),
       url('iconfont.ttf?t=1749108770337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lu-icon-maximize:before {
  content: "\e676";
}

.icon-icon_close:before {
  content: "\e683";
}

.icon-iconmaximize:before {
  content: "\e61c";
}

.icon-icon-max:before {
  content: "\e67b";
}

.icon-icon_top:before {
  content: "\e647";
}

.icon-icon_min:before {
  content: "\e603";
}

.icon-icon_top1:before {
  content: "\e668";
}

.icon-jiqiren:before {
  content: "\e6ac";
}

.icon-xiaoxi:before {
  content: "\e64b";
}

.icon-jiqiren1:before {
  content: "\e60b";
}

.icon-yingyong:before {
  content: "\e626";
}

.icon-haoyou:before {
  content: "\e631";
}

