@font-face {
  font-family: "iconfont"; /* Project id 4915189 */
  src: url('iconfont.woff2?t=1746687247328') format('woff2'),
       url('iconfont.woff?t=1746687247328') format('woff'),
       url('iconfont.ttf?t=1746687247328') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiqiren:before {
  content: "\e6ac";
}

.icon-xiaoxi:before {
  content: "\e64b";
}

.icon-jiqiren1:before {
  content: "\e60b";
}

.icon-yingyong:before {
  content: "\e626";
}

.icon-haoyou:before {
  content: "\e631";
}

